// Block = .c-button
// 色違い = Modifier
// サイズ = Modifier
// 状態 = is-

.c-button {

    font-weight: 500;
    font-style: normal;

    /* サイズの違い */
    &--sm {
        font-size: 1rem;
        width: 154px;
        height: 36px;
        line-height: 1.75rem;
    }

    &--md {
        font-size: 1rem;
        width: 340px;
        height: 64px;
        line-height: 1.75rem;
    }

    &--long{
        font-size: 1rem;
        width: 282px;
        height: 36px;
        line-height: 1.75rem;
    }

    /* 色の違い */
    &--primary {
        background-color: var(--main-color);
        border: 1px solid var(--main-color);
        color: var(--white);

        &:hover {
            /* UI Properties */
            background-color: var(--white);
            border: 2px solid var(--main-color);
            color: var(--main-color);
        }
    }

    &--secondary {
        background-color: var(--white);
        border: 1px solid var(--main-color);

        &:hover {
            /* UI Properties */
            background-color: var(--white);
            border: 2px solid var(--main-color);
            color: var(--main-color);
        }
    }

    /* ステータス */

    &.is-active {

        // activeの場合のホバーを無効化するためにベースと同色でホバーする
        &:hover {
            background-color: var(--main-color);
            border: 1px solid var(--main-color);
            color: var(--white);
        }
    }

    &.is-disable {
        background: var(--white) 0% 0% no-repeat padding-box;

        // disactiveの場合も同様
        &:hover {
            background-color: var(--white); // ← これで hover無効
        }
    }
}
